
@* Pages/Shared/_Sidebar.cshtml *@
<div class="sidebar-inner d-flex flex-column h-100">
    <div class="sidebar-section mt-3 mb-2 px-3 text-muted text-uppercase small">
        功能
    </div>

    <ul class="nav nav-pills flex-column mb-auto">
        @* <li class="nav-item">
            <a class="nav-link sidebar-link" asp-page="/Schedule/MyCalendar">
                我的班表
            </a>
        </li> *@
        <li class="nav-item">
            <a class="nav-link sidebar-link" asp-page="/Stats/Leaderboard">
                排班排行榜
            </a>
        </li>
    </ul>
</div>